<%- include('./include/header') %>



<!-- -----------------------css begin---------------------- -->

<style>

.coupon-card {
  border: 2px solid #3498db;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.coupon-heading {
  text-align: center;
}

.discount-amount {
  color: #e74c3c; /* Red color */
  font-weight: bold;
}

.coupon-code {
  background-color: #e74c3c;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.expiry-date {
  font-style: italic;
  color: #7f8c8d; /* Gray color */
}

</style>

<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>

<!-- -----------------------css end---------------------- -->



    <!-- Breadcrumb Begin -->
    <!-- <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <span>Shopping cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Breadcrumb End -->

    <!-- Shop Cart Section Begin -->
    <section class="shop-cart spad">
        <div class="container">
            <div class="row" style="max-height: 600px; overflow-y: auto;">
                <div class="col-lg-12">
                    <div class="shop__cart__table">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% cartItems.forEach((row,index)=>{ %>
                                    <tr>
                                        <td class="cart__product__item">
                                            <img id="image_<%= index %>" style="width: 100px;"
                                                src="/img/<%=row.product.images[0] %>" alt="">

                                            <div class="cart__product__item__title">
                                                <h6>
                                                    <%= row.product.productname %>
                                                </h6>
                                                <!-- <div class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i> -->
                                            </div>
                                        </td>
                                        <td class="cart__price">&#x20B9; <%= row.product.price %>
                                        </td>
                                        <td class="cart__quantity">
                                            <div style="margin-left: 20px;" class="container mt-5 pb-5">
                                                <div class="row">
                                                    <div class="col-md-4 mb-3">
                                                        <div class="qty-container">
                                                            <button class="qty-btn-minus btn-primary btn-rounded mr-1"
                                                                type="button" data-index="<%= index %>"
                                                                data-product-id="<%= row.product._id %>"><i
                                                                    class="fa fa-chevron-left"></i></button>
                                                            <input min="1" type="number" id="quantity_<%= index %>"
                                                                name="qty" value="<%= row.quantity %>"
                                                                class="input-qty input-rounded" />
                                                            <button id="plsbtn<%= index %>" class="qty-btn-plus btn-primary btn-rounded ml-1"
                                                                type="button" data-index="<%= index %>"
                                                                data-product-id="<%= row.product._id %>"><i
                                                                    class="fa fa-chevron-right"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div style="height: 20px; margin-left: -20px;">
                                                    <section id="outofstock<%= index %>"></section>
                                                </div>
                                            </div>

                                        </td>
                                        <td class="cart__total">&#x20B9; <i id="carttotal_<%= index %>"><%= row.quantity *
                                            row.product.price %></i>
                                        </td>
                                        <td class="cart__close"><a href="/home/deletecart/<%= row.id %>"><span
                                                    class="fas fa-close"></span></a></td>
                                        <td id="productid_<%= index %>" hidden class="cart__close">
                                            <%= row.id %>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn">
                        <a href="/home/shop">Continue Shopping</a>
                    </div>
                </div>
            </div>
            <% if(totalValue) { %>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="discount__content">
         
                            </form>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 offset-lg-2">
                        <div class="cart__total__procced">
                            <h6>Cart total</h6>
                            <ul>
                                <li>Subtotal <span>&#x20B9; <i id="grandtotal"><%= totalValue %></i></span></li>
                                <li id="coupenadded"><span> <i></i></span></li>
                                <div id="clear" ></div>
                                <section hidden id="coupenid"></section>
                                <li>Total <span>&#x20B9; <i id="grandtotal1"><%= totalValue %></i></span></li>
                            </ul>
                            <a id="Proceedchkout" href="/home/checkout" class="primary-btn">Proceed to checkout</a>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </section>
    <!-- Shop Cart Section End -->




 <!-- ----------------------------------script------------------------------    -->


<script>

// ---------------------------cart quantity-------------------

    const buttons = document.querySelectorAll('.qty-btn-minus, .qty-btn-plus');

    buttons.forEach(button => {
        button.addEventListener('click', () => {
            const index = button.getAttribute('data-index');
            const quantityInput = document.getElementById(`quantity_${index}`);
            let currentValue = parseInt(quantityInput.value);
            const outofstock = document.getElementById(`outofstock${index}`)
            const image = document.getElementById(`image_${index}`);
            const imageUrl = image.getAttribute('src');
            const productid = document.getElementById(`productid_${index}`).innerHTML.trim()

            if (button.classList.contains('qty-btn-minus')) {
                currentValue = Math.max(currentValue - 1, 1);
            } else {
                currentValue += 1;
            }

            quantityInput.value = currentValue;
            sendQuantityToServer(currentValue, index, imageUrl, productid);
        });
    });

    function updateQuantityAndHandleOutOfStock(index, data) {
        const outofstock = document.getElementById(`outofstock${index}`);
        const total = document.getElementById(`carttotal_${index}`)
        const grandtotal = document.getElementById('grandtotal')
        const grandtotal1 = document.getElementById('grandtotal1')
        const btn = document.getElementById(`plsbtn${index}`)

        if (data.success) {
            btn.style.display = 'block';
            outofstock.innerHTML = '';
            grandtotal1.innerHTML = data.data2.cart.grandtotal
            grandtotal.innerHTML = data.data2.cart.grandtotal
            total.innerHTML = data.matchedItem.totalprice
        }
        else if (data.success === false) {
            outofstock.innerHTML = '<p style="color:red;">Out Of Stock</p>';
            btn.style.display = 'none';
        }
        else {
            console.error('Error updating quantity:', data.message);
        }
    }


    //------- send to server----------

    function sendQuantityToServer(quantity, index, imageUrl, productid) {

        const url = `https://ajinjo.shop/home/cart/${productid}`;
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ quantity, imageUrl })
        })
        .then(response => response.json())
        .then(data => updateQuantityAndHandleOutOfStock(index, data))
        .catch(error => {
            console.error('Fetch error:', error);
        });
    }

</script>




    <%- include('./include/footer') %>