<%- include('./include/header') %>


<section class="checkout spad">
    <div class="container">
        <div class="row">
        </div>
        <div class="row">
            <div class="col-lg-8">
                <h5>Billing detail</h5>
                <div class="form-check">
                    <div class="card" style="max-height: 600px; overflow-y: auto;">
                        <% let index1=0; %>
                            <% address.forEach(item=> { %>
                                <div class="card">
                                    <div style="background-color: grey;" class="card-header">
                                        Address
                                    </div>
                                    <div class="card-body">

                                        <form class="row g-3">
                                            <div style="margin-bottom: 30px;" class="col-12">
                                                <label for="inputAddress" class="form-label">Address</label>
                                                <input value="<%= item.address1 %>" type="text" class="form-control"
                                                    id="inputAddress" readonly>
                                            </div>

                                            <div class="col-md-6">
                                                <label for="inputCity" class="form-label">City</label>
                                                <input value="<%= item.city %>" type="text" class="form-control"
                                                    id="inputCity" readonly>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="inputCity" class="form-label">State</label>
                                                <input value="<%= item.state %>" type="text" class="form-control"
                                                    id="inputState" readonly>
                                            </div>

                                            <div class="col-md-3">
                                                <label for="inputZip" class="form-label">Zip</label>
                                                <input value="<%= item.zip %>" type="text" class="form-control"
                                                    id="inputZip" readonly>
                                            </div>
                                        </form>
                                        <input style="margin-left: 1px;" class="form-check-input" type="radio"
                                            name="flexRadioDefault" id="flexRadioDefault<%= index1 %>"
                                            data-address="<%= `${item.address1},${item.city},${item.state},${item.zip}` %>">
                                        <label style="margin-left: 20px;" class="form-check-label"
                                            for="flexRadioDefault<%= index1 %>">
                                            Select
                                        </label>
                                    </div>
                                </div>
                            <% index1++; %>
                        <% }); %>

                        <div class="card-header"></div>
                    </div>
                </div>

                <button style="margin-top: 20px;" type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#exampleModal" data-whatever="@mdo">Add New Address</button>

                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">New Address</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="row g-3">
                                    <div style="margin-bottom: 30px;" class="col-12">
                                        <label for="inputAddress" class="form-label">Address</label>
                                        <input type="text" class="form-control" id="inputAddressn"
                                            required>
                                    </div>

                                    <div class="col-md-6">
                                        <label for="inputCity" class="form-label">City</label>
                                        <input type="text" class="form-control" id="inputCityn" required>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="inputCity" class="form-label">State</label>
                                        <input type="text" class="form-control" id="inputStaten" required>
                                    </div>

                                    <div class="col-md-3">
                                        <label for="inputZip" class="form-label">Pincode</label>
                                        <input type="text" class="form-control" id="inputZipn" required>
                                    </div>

                                    <div style="margin-top: 20px;" class="col-12">
                                        <button id="button" type="button"
                                            class="btn btn-primary">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4" >
                <div class="checkout__order">
                    <h5>Your order</h5>
                    <div  style="max-height: 350px; overflow-y: auto;">
                        <table  class="table checkout__order__product">
                            <thead>
                              <tr>
                                <th scope="col">No</th>
                                <th scope="col">Product</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                              </tr>
                            </thead>
                            <tbody>
                                <% let index=1; %>
                                    <% data.forEach(item=> { %>
                                        <tr>
                                            <th style="text-align: center;" scope="row"><%= index %></th>
                                            <td><%= item.productname %></td>
                                            <td style="text-align: center;"><%= item.quantity %><section style="color: red;" id="outofstock"></section></td>
                                            <td hidden style="text-align: center;"><%= item.productId %></td>
                                            <td style="text-align: center;" id="totalprice" style="padding-left: 25px; font-weight: 600;">&#x20B9;<%= item.totalprice %></td>
                                            <td hidden><%= item.images %></td>
                                        </tr>
                                    <% index++; %>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                    <div class="checkout__order__total">
                        <ul>
                            <ul>
                                <li>Subtotal <span>&#x20B9;<i id="grandtotal"><%= grandtotal %></i></span></li>
                                <li id="coupenadded"><span> <i></i></span></li>
                                <div id="clear" ></div>
                                <section hidden id="discount1"></section>
                                <section hidden id="coupenid"></section>

                            <i id="clear"></i>
                                <li>Total <span>&#x20B9; <i id="grandtotal1"><%= grandtotal %></i></span></li>
                                <li id="total" hidden><%= grandtotal %></li>
                            </ul>
                    </div>
                    <div class="checkout__order__widget">

                        <div class="form-check">
                            <div class="input-group">
                                <input id="coupenvalue" type="text" placeholder="Enter your coupon code" class="form-control">
                                <button class="btn-primary" id="buttonapply" type="button">Check</button>

                            </div>
                            <section style="color: red;" id="cpn"></section>

                            <label style="margin-top: 20px;" for=""><i type="button" id="viewcoupens" data-toggle="modal" data-target="#exampleModal1" >View all coupon ></i></label>



                            <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">COUPONS</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        </div>
                                        <div class="modal-body">
                                            <form class="">
                                                <div style="max-height: 300px; overflow-y: auto; margin-top: 15px; border-radius: 30px;" class="cart__total__procced">
                                                    <% coupens.forEach((coupon, index) => { %>
                                                        <div class="card" style="margin-bottom: 30px;">
                                                            <div class="card-body">
                                                                <h5 class="card-title"><%= coupon.name %></h5>
                                                                <p class="card-text">Get <span class="discount-amount"><%= coupon.discount %> % OFF</span> on your purchase!</p>
                                                                <p class="card-text">Use code: <span class="coupon-code"><%= coupon.code %></span></p>
                                                                <p class="card-text">Valid until: <span class="expiry-date"><%= coupon.expirydate %></span></p>
                                                            </div>
                                                        </div>
                                                    <% }) %>
                                                </div>
                                               
                                            </form>
                                        </div>   
                                    </div>
                                </div>
                            </div>
                        </div>
                           
                        <div class="form-check">
                            <input  class="form-check-input" type="radio" name="flexRadioDefault1" id="check-payment">
                            <label  class="form-check-label" for="flexRadioDefault4">
                                Cash on delivery
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault1" id="check-payment1">
                            <label class="form-check-label" for="flexRadioDefault5">
                                Online payment
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault1" id="check-payment2">
                            <label class="form-check-label" for="flexRadioDefault6">
                                Wallet payment
                                <section style="color: red;" id="walletnobalance"></section>
                            </label>
                        </div>
                    </div>
                    <button onclick="placeOrder()" id="button1" type="submit" class="site-btn">Place oder</button>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- ------------------------------script------------------------------->


<!-- -------------------------clear coupen begin--------------------- -->

<script>
    document.getElementById('clear').addEventListener('click',()=>{
        const coupenid = document.getElementById('coupenid').innerText
        const Proceedchkout = document.getElementById('Proceedchkout')

        const url = 'https://ajinjo.shop/user/clearcoupen'
        fetch(url,{
            method: 'POST',
            headers: {
                'Content-Type' : 'application/json'
            },
            body: JSON.stringify({coupenid})
        })
        .then(response=> response.json())
        .then(data=>{
            if(data.message=='removed'){
                window.location.href='/home/checkout'
            }
        })
    })

</script>

<!-- -------------------------clear coupen end--------------------- -->




<!-- -------------------------apply coupen begin---------------------- -->

<script>
    document.getElementById('buttonapply').addEventListener('click', () => {

        let newtotal
        let newtotal1

        const total = document.getElementById('grandtotal1').innerText
        const discount1 = document.getElementById('discount1')
        const cpn = document.getElementById('cpn')
        const coupenadded = document.getElementById('coupenadded')
        const clear = document.getElementById('clear')
        const coupenid = document.getElementById('coupenid')
        const total1 = document.getElementById('grandtotal1')


        const coupenvalue = document.getElementById('coupenvalue').value;
        const grandtotal = document.getElementById('grandtotal').innerText; 


        const url='https://ajinjo.shop/user/verifycoupen' 
    
        fetch(url,{
            method:'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body:JSON.stringify({coupenvalue,grandtotal})
        })
        .then(response => response.json())
        .then(data =>{
            if(data.message =="coupon matching"){
                cpn.innerHTML='';
                coupenadded.innerHTML=`<li id="coupenadded">Coupon Applied<span>-  ${data.discount}%<i></i></span></li>`
                clear.innerHTML='<button id="clear" type="button" class="btn btn-danger">Clear Coupon</button>'
                coupenid.innerHTML=data.coupenid
                discount1.innerHTML = data.discount    
                total1.innerHTML= data.newtotal;
                coupen=''
                couponProcessing = true;

            }
            else if(data.message=='minimum 2000'){
                cpn.innerHTML=`Minimum Purchase Of ${data.minvalue}`
            }
            else if(data.message =='invalid coupon'){
                clear.innerHTML=''
                coupenadded.innerHTML=''
                total1.innerHTML= data.grandtotal;
                cpn.innerHTML='Invalid Coupon'
            }
            else if (data.message=='invalid'){
                clear.innerHTML=''
                coupenadded.innerHTML=''
                total1.innerHTML= data.grandtotal;
                cpn.innerHTML='Invalid Coupon'
            }
            else if(data.message=='alredy in input'){
                coupenadded.innerHTML=`<li id="coupenadded">Coupon Applied<span>-  ${data.discount}%<i></i></span></li>`
                clear.innerHTML='<button id="clear" type="button" class="btn btn-danger">Clear Coupon</button>'  
                total1.innerHTML= data.newtotal; 
            }
            else{
                clear.innerHTML=''
                coupenadded.innerHTML=''
                cpn.innerHTML='Invalid Coupon'
            }
        })
    });


</script>


<!-- -------------------------apply coupen end---------------------- -->




<!-- ------------------------select address begin-------------------- -->

<script>
    let selectedAddress;
    let address1, city, state, zip;
    function handleRadioButtonChange(event) {
        const selectedRadio = event.target;
        selectedAddress = selectedRadio.getAttribute('data-address');
        [address1, city, state, zip] = selectedAddress.split(',');

    }
    const radioButtons = document.querySelectorAll('input[name="flexRadioDefault"]');
    radioButtons.forEach(radio => {
        radio.addEventListener('change', handleRadioButtonChange);
    });
</script>

<!-- ------------------------select address end-------------------- -->




<!-- ------------------------------------------------------------------------- -->
<!-- ----------------------------main section begin------------------------ -->
<!-- ------------------------------------------------------------------------- -->

<script>

// ---------------add address begin------------------

    document.getElementById('button').addEventListener('click', () => {

        const inputAddress = document.getElementById('inputAddressn').value;
        const inputCity = document.getElementById('inputCityn').value;
        const inputState = document.getElementById('inputStaten').value;
        const inputZip = document.getElementById('inputZipn').value;

        console.log(inputAddress,inputCity,inputState,inputZip);

        const url = 'https://ajinjo.shop/home/addaddress';
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ inputAddress, inputCity, inputState, inputZip })
        })
        .then(response => response.json())
        .then(data =>{
            if(data.message == 'addressadded'){
                window.location.reload();
            }
            else if(data.message== 'erroradding') {
                window.location.reload();
            }
        })
    });


// -----------------add address end--------------------



// --------------fun collect product data begin----------------

    function collectProductData() {
        const products = [];
        const productRows = document.querySelectorAll('.checkout__order__product tbody tr');
        productRows.forEach((row, index) => {
            const product = {
                productName: row.querySelector('td:nth-child(2)').textContent.trim(),
                quantity: parseInt(row.querySelector('td:nth-child(3)').textContent.trim()),
                productid: row.querySelector('td:nth-child(4)').textContent.trim(),
                totalPrice: row.querySelector('td:nth-child(5)').textContent.trim(),
                images: row.querySelector('td:nth-child(6)').textContent.trim(),
            };
            products.push(product);
        });
        return products;
    }

// --------------fun collect product data end----------------



// --------fun collect form data begin(address,payment)---------

    function collectFormData() {
        const isCashOnDelivery = document.getElementById('check-payment').checked;
        let payment
        if (isCashOnDelivery) {
            payment = 'COD'
        }

        const inputAddress = document.getElementById('inputAddress').value;
        const inputCity = document.getElementById('inputCity').value;
        const inputState = document.getElementById('inputState').value;
        const inputZip = document.getElementById('inputZip').value;

        const data = {
            address1, city, state, zip,
            payment: payment
        };


        return data;
    }

 // --------fun collect form data end(address,payment)---------

    

//  ---------------fun checkeout total begin-------------------

    function total() {
        let grandtotal, newtotal, discount, coupenid;

        const totalElement = document.getElementById('total');
        if (totalElement !== null) {
            grandtotal = totalElement.innerText;
        }

        const total1Element = document.getElementById('grandtotal1');
        if (total1Element !== null) {
            newtotal = total1Element.innerText;
        }

        const coupenidElement = document.getElementById('coupenid');
        if (coupenidElement !== null) {
            coupenid = coupenidElement.innerText;
        }

        const discountElement = document.getElementById('discount1').innerHTML
        if (discountElement !== null) {
            discount = discountElement
        }

        if (coupenid !== null && discount !== null) {
            return { coupenid, grandtotal, discount ,newtotal};
        } else {
            return { grandtotal };
        }
    }

//  ---------------fun checkeout total end-------------------




// ------------------fun placeorder begin---------------------

    function placeOrder() {
        
        const cashOnDeliveryRadioButton = document.getElementById('check-payment');
        const onlinePaymentRadioButton = document.getElementById('check-payment1');
        const walletPaymentRadioButton = document.getElementById('check-payment2');


        const data1 = collectProductData()
        const data = collectFormData();
        const { grandtotal, coupenid, newtotal ,discount } = total();

        const outofstock = document.getElementById('outofstock')
        const url = 'https://ajinjo.shop/home/placeorder';

        // function (COD)
        if (cashOnDeliveryRadioButton.checked) {

            let totalamount;
            if(coupenid != null) {
                totalamount = newtotal
            }
            else{
                totalamount=grandtotal
            }


            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ data: data, data1: data1, grandtotal: grandtotal ,coupenid:coupenid , discount:discount })
            })
            .then(response => {
                return response.json();
            })
            .then(data => {
                if (data.type == 'success') {
                    location.href = '/home/thankyou'
                }
                else if(data.message=='out of stock'){
                    outofstock.innerHTML='out of stock'
                }
                else if (data.type == 'danger') {
                    errorhappend()
                }
                else {
                    location.href = '/home/checkout'
                }
            })
            .catch(error => {
                console.error('There was an error:', error);
            });
        }

        // function (ONLINE)
        else if (onlinePaymentRadioButton.checked && address1) {

            const url = 'https://ajinjo.shop/home/payorder'

            const payment = 'ONLINE'
            let totalamount;

            if(coupenid != null) {
                totalamount = newtotal
            }
            else{
                totalamount=grandtotal
            }


            fetch(url,{
                method : 'post',
                headers : {
                    'Content-Type' : 'application/json'
                },
                body : JSON.stringify({totalamount , data1})
            })
            .then(response => response.json())
            .then(data =>{
                if(data.message=='out of stock'){
                    outofstock.innerHTML='out of stock'
                }
                const options = {
                "key": "rzp_test_ZSmWOk8dY0kcdl", // Enter the Key ID generated from the Dashboard
                "amount": data.order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                "currency": "INR",
                "name": data.name, //your business name
                "description": "Test Transaction",
                "image": "",
                "order_id": data.order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                "callback_url": `https://ajinjo.shop/home/paymentdone?data=${JSON.stringify(data)}&data1=${JSON.stringify(data1)}&grandtotal=${grandtotal}&coupenid=${coupenid}&discount=${discount}`,
                "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information especially their phone number
                    // "name": "Gaurav Kumar", //your customer's name
                    // "email": "",
                    // "contact": "" //Provide the customer's phone number for better conversion rates 
                },
                "notes": {
                    "address": "Razorpay Corporate Office"
                },
                "theme": {
                    "color": "#3399cc"
                }
            };
            const rzp1 = new Razorpay(options);
            rzp1.open();
            })
        }
        // function (wallet)
        else if (walletPaymentRadioButton.checked && address1) {
            const walletnobalance = document.getElementById('walletnobalance')
            const url = 'https://ajinjo.shop/home/walletpayment';


            const payment = 'WALLET'


            let totalamount;
            if(coupenid != null) {
                totalamount = newtotal
            }
            else{
                totalamount=grandtotal
            }


            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ data: data, data1: data1, grandtotal: grandtotal ,coupenid:coupenid , discount:discount ,payment})
            })
            .then(response => {
                return response.json();
            })
            .then(data => {
                if(data.message=='insufficient balance'){
                    walletnobalance.innerHTML='Insufficient Balance'
                }
                else if(data.type == 'success') {
                    location.href = '/home/thankyou'
                }
                else if(data.message=='out of stock'){
                    outofstock.innerHTML='out of stock'
                }
                else if (data.type == 'danger') {
                    errorhappend()
                }
                else {
                    location.href = '/home/checkout'
                }
            })
            .catch(error => {
                console.error('There was an error:', error);
            });
        }
        else {
            errorhappend()
        }
    }

// ------------------fun placeorder end---------------------


    // calling main function
    const placeOrderButton = document.getElementById('button1');
    placeOrderButton.addEventListener('click', placeOrder);

</script>

<!-- ------------------------------------------------------------------------- -->
<!-- ----------------------------main section end------------------------ -->
<!-- ------------------------------------------------------------------------- -->



<!-- -----------------------sweet alert begin--------------------- -->

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>

function errorhappend(form) {
    swal({
    title: "Please Check,",
    text: "Address And Payment!",
    buttons: true,
    dangerMode: true,
    });
}

</script>

<!-- -----------------------sweet alert end--------------------- -->



    <%- include('./include/footer') %>