<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shorcket icon" type="x-icon" href="/img/logo2.png">
    <title>GO shop</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">


    <!-- Css Styles -->

    <link rel="stylesheet" href="/css/home/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/home/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/home/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/home/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/home/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/home/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/home/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/home/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <ul style="margin-top: 30px; margin-left: -10px;" class="offcanvas__widget">
            <li><span class="fas fa-search-plus"></span></li>
            <!-- <li><a href="#"><span class="fas fa-heart"></span>
                    <div class="tip">2</div>
                </a></li> -->
            <li><a href="#"><span class="fas fa-shopping-cart"></span>
                    <div class="tip"><%= numberOfItems %></div>
                </a></li>
        </ul>

        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
            <% if (user || googleuser) { %>
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <img style="height: 30px; margin-right: 20px;" src="/img/icons8-male-user-50.png" alt="">
                        <%= username || googleuser %>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!-- <button class="dropdown-item" type="button"><a href="/user/login">Login</a></button>
                        <button class="dropdown-item" type="button"><a href="/user/register">Register</a></button> -->
                        <button class="dropdown-item" type="button"><a href="/user/logout">Logout</a></button>
                    </div>
                </div>
                <% }else{ %>
                    <a href="/user/login">Login</a>
                    <a href="/user/register">Register</a>
                    <% } %>

        </div>
        <div style="margin-top: 50%;" class="offcanvas__logo">
            <img src="img/logo2.png" style="height: 110px;" alt="">
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <link rel="stylesheet" href="/css/home/quantityincdec.css">
    <!-- Header Section Begin -->
    <header class="header">
       <div class="container-fluid">
           <div class="row">
               <div class="col-xl-3 col-lg-2">
                   <div class="">
                       <a href="/"><img style="height: 110px;" src="img/logo2.png" alt="">
                   </div>
               </div>
               <div class="col-xl-6 col-lg-7">
                   <nav style="text-align: center;" class="header__menu">
                       <ul>
                           <li class="active"><a href="/">Home</a></li>
                           <!-- <li><a href="#">Women’s</a></li>
                           <li><a href="#">Men’s</a></li> -->
                           <li><a href="/home/shop">Shop</a></li>
                           <!-- <li><a href="#">Pages</a>
                               <ul class="dropdown">
                                   <li><a href="">Product Details</a></li>
                                   <li><a href="">Shop Cart</a></li>
                                   <li><a href="">Checkout</a></li>
                               </ul>
                           </li> -->
                           <!-- <li><a href="">Contact</a></li> -->
                       </ul>
                   </nav>
               </div>
               <div class="col-lg-3">
                   <div class="header__right">
                       <div class="header__right__auth">
                           <% if (user || googleuser) { %>
                               <div style="margin-left: -500px;" class="btn-group">
                                   <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                       <img style="height: 30px; margin-right: 20px;" src="/img/icons8-male-user-50.png" alt="">
                                       
                                       <i style="font-size-adjust: inherit;"><%= username || googleuser %></i>
                                   </button>
                                   <div class="dropdown-menu dropdown-menu-right">
                                    <button class="dropdown-item" type="button"><a href="/home/profile">Profile</a></button>
                                     <button class="dropdown-item" type="button"><a href="/user/logout">Logout</a></button>
                                   </div>
                                 </div>
   
                   
                                   
                           <% } else { %>
                               <a href="/user/login">Login</a>
                               <a href="/user/register">Register</a>
                           <% } %>
                           
                           <!-- <a href="/user/login">Login</a>
                           <a href="/user/register">Register</a> -->
                       </div>
                       <% if (user || googleuser) { %>
                       <ul class="header__right__widget">
                           <li><span class="fas fa-search"></span></li>
                           <!-- <li><a href="#"><span class="fas fa-heart"></span>
                               <div class="tip">0</div>
                           </a></li> -->
                           <li><a href="/home/cart"><span class="fas fa-shopping-cart"></span>
                               <div class="tip"><%= numberOfItems %></div>
                           </a></li>
                       </ul>
                       <% } else { %>
                           <ul class="header__right__widget">
                               <li><span class="fas fa-search"></span></li>
                               <!-- <li><a href="/user/login"><span class="fas fa-heart"></span>
                                   <div class="tip">0</div>
                               </a></li> -->
                               <li><a href="/user/login"><span class="fas fa-shopping-cart"></span>
                                   <div class="tip">0</div>
                               </a></li>
                           </ul>
                       <% } %>
                   </div>
               </div>
           </div>
           <div class="canvas__open">
               <i class="fa fa-bars"></i>
           </div>
       </div>
   </header>
   <!-- Header Section End -->
    <!-- Header Section End -->

    <!-- Categories Section Begin -->
    
    <section class="categories">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 p-0">
                    <div class="categories__item categories__large__item set-bg"
                    data-setbg="/img/<%= bannerc[0].image %>">
                    <div class="categories__text">
                        <h1><%= bannerc[0].category %>’s</h1>
                        <p><%= bannerc[0].description %></p>
                        <a href="/home/category/<%= bannerc[0].category %>">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="/img/<%= bannerc[1].image %>">
                            <div class="categories__text">
                                <h4><%= bannerc[1].category %>’s</h4>
                                <p><%= bannerc[1].description %></p>
                                <!-- <p>358 items</p> -->
                                <a href="/home/category/<%= bannerc[1].category %>">Shop now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="/img/<%= bannerc[2].image %>">
                            <div class="categories__text">
                                <h4><%= bannerc[2].category %>’s</h4>
                                <p><%= bannerc[2].description %></p>
                                <!-- <p>273 items</p> -->
                                <a href="/home/category/<%= bannerc[2].category %>">Shop now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="/img/<%= bannerc[3].image %>">
                            <div class="categories__text">
                                <h4><%= bannerc[3].category %>’s</h4>
                                <p><%= bannerc[3].description %></p>
                                <!-- <p>159 items</p> -->
                                <a href="/home/category/<%= bannerc[3].category %>">Shop now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="/img/<%= bannerc[4].image %>">
                            <div class="categories__text">
                                <h4><%= bannerc[4].category %>’s</h4>
                                <p><%= bannerc[4].description %></p>                                
                                <!-- <p>792 items</p> -->
                                <a href="/home/category/<%= bannerc[4].category %>">Shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="section-title">
                    <h4>New product</h4>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <ul class="filter__controls">
                    <li class="active" data-filter="*">All</li>
                    <li data-filter=".<%= bannerc[0].category %>"><%= bannerc[0].category %>’s</li>
                    <li data-filter=".<%= bannerc[1].category %>"><%= bannerc[1].category %>’s</li>
                    <li data-filter=".<%= bannerc[2].category %>"><%= bannerc[2].category %>’s</li>
                    <li data-filter=".<%= bannerc[3].category %>"><%= bannerc[3].category %>’s</li>
                    <li data-filter=".<%= bannerc[4].category %>"><%= bannerc[4].category %>’s</li>
                </ul>
            </div>
        </div>
        

        <div class="row property__gallery">
            <% product.forEach((row,index)=>{ %>
            <div class="col-lg-3 col-md-4 col-sm-6 mix <%= row.category %>">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/img/<%= row.images[0] %>">
                        <!-- <div class="label new">New</div> -->
                        <ul class="product__hover">
                            <li><a href="/img/<%= row.images[0] %>" class="image-popup"><span class="fas fa-search-plus"></span></a></li>
                            <li><a href="#"><span class="fas fa-heart"></span></a></li>
                            <li><a href="/home/addcart/<%= row._id %>"><span class="fas fa-shopping-cart"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/home/productview/<%= row._id %>"><%= row.productname %></a></h6>
                        <!-- <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div> -->
                        <div class="product__price">&#x20B9;<%= row.price %></div>
                    </div>
                </div>
            </div>
            <% }) %>

        <!-- <div class="col-lg-3 col-md-4 col-sm-6 mix men">
                
            </div> -->
            <!-- <div class="col-lg-3 col-md-4 col-sm-6 mix accessories">
                
            </div> -->
            <!-- <div class="col-lg-3 col-md-4 col-sm-6 mix cosmetic">
               
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix kid">
                
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix women men kid accessories cosmetic">
               
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix women men kid accessories cosmetic">
                
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix women men kid accessories cosmetic">
                
            </div> -->
        </div>
    </div>
</section>
<!-- Product Section End -->

<!-- Banner Section Begin -->
<section class="banner set-bg" data-setbg="img/banner/banner-1.jpg">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-8 m-auto">
                <div class="banner__slider owl-carousel">
                    <div class="banner__item">
                        <div class="banner__text">
                            <span><%= bannerc[0].category %>’s</span>
                            <h5><%= bannerc[0].description %>’s</h5>
                            <a href="/home/shop">Shop now</a>
                        </div>
                    </div>
                    <div class="banner__item">
                        <div class="banner__text">
                            <span><%= bannerc[1].category %>’s</span>
                            <h5><%= bannerc[1].description %>’s</h5>
                            <a href="/home/shop">Shop now</a>
                        </div>
                    </div>
                    <div class="banner__item">
                        <div class="banner__text">
                            <span><%= bannerc[2].category %>’s</span>
                            <h5><%= bannerc[2].description %>’s</h5>
                            <a href="/home/shop">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->

<!-- Trend Section Begin -->
<!-- <section class="trend spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="trend__content">
                    <div class="section-title">
                        <h4>Hot Trend</h4>
                    </div>
                    <div class="trend__item">
                        <div class="trend__item__pic">
                            <img src="img/trend/ht-1.jpg" alt="">
                        </div>
                        <div class="trend__item__text">
                            <h6>Chain bucket bag</h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">$ 59.0</div>
                        </div>
                    </div>
                    <div class="trend__item">
                        <div class="trend__item__pic">
                            <img src="img/trend/ht-2.jpg" alt="">
                        </div>
                        <div class="trend__item__text">
                            <h6>Pendant earrings</h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">$ 59.0</div>
                        </div>
                    </div>
                    <div class="trend__item">
                        <div class="trend__item__pic">
                            <img src="img/trend/ht-3.jpg" alt="">
                        </div>
                        <div class="trend__item__text">
                            <h6>Cotton T-Shirt</h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">$ 59.0</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="trend__content">
                    <div class="section-title">
                        <h4>Best seller</h4>
                    </div>
                    <div class="trend__item">
                        <div class="trend__item__pic">
                            <img src="img/trend/bs-1.jpg" alt="">
                        </div>
                        <div class="trend__item__text">
                            <h6>Cotton T-Shirt</h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">$ 59.0</div>
                        </div>
                    </div>
                    <div class="trend__item">
                        <div class="trend__item__pic">
                            <img src="img/trend/bs-2.jpg" alt="">
                        </div>
                        <div class="trend__item__text">
                            <h6>Zip-pockets pebbled tote <br />briefcase</h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">$ 59.0</div>
                        </div>
                    </div>
                    <div class="trend__item">
                        <div class="trend__item__pic">
                            <img src="img/trend/bs-3.jpg" alt="">
                        </div>
                        <div class="trend__item__text">
                            <h6>Round leather bag</h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">$ 59.0</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="trend__content">
                    <div class="section-title">
                        <h4>Feature</h4>
                    </div>
                    <div class="trend__item">
                        <div class="trend__item__pic">
                            <img src="img/trend/f-1.jpg" alt="">
                        </div>
                        <div class="trend__item__text">
                            <h6>Bow wrap skirt</h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">$ 59.0</div>
                        </div>
                    </div>
                    <div class="trend__item">
                        <div class="trend__item__pic">
                            <img src="img/trend/f-2.jpg" alt="">
                        </div>
                        <div class="trend__item__text">
                            <h6>Metallic earrings</h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">$ 59.0</div>
                        </div>
                    </div>
                    <div class="trend__item">
                        <div class="trend__item__pic">
                            <img src="img/trend/f-3.jpg" alt="">
                        </div>
                        <div class="trend__item__text">
                            <h6>Flap cross-body bag</h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">$ 59.0</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- Trend Section End -->

<!-- Discount Section Begin -->
<section style="margin-top: 50px;" class="discount">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="discount__pic">
                    <img src="/img/discount.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="discount__text">
                    <div class="discount__text__title">
                        <h2><%= offerbaner[0].sale %></h2>
                        <h5><span>Sale</span> <%= offerbaner[0].discount %></h5>
                    </div>
                    <div class="discount__countdown" id="countdown-time">
                        <div class="countdown__item">
                            <span><%= offerbaner[0].day %></span>
                            <p>Days</p>
                        </div>
                        <div class="countdown__item">
                            <span><%= offerbaner[0].hour %></span>
                            <p>Hour</p>
                        </div>
                        <div class="countdown__item">
                            <span><%= offerbaner[0].min %></span>
                            <p>Min</p>
                        </div>
                        <div class="countdown__item">
                            <span><%= offerbaner[0].sec %></span>
                            <p>Sec</p>
                        </div>
                    </div>
                    <a href="/home/shop">Shop now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Discount Section End -->

<!-- Services Section Begin -->
<section class="services spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-car"></i>
                    <h6>Free Shipping</h6>
                    <p>For all oder over $99</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-money"></i>
                    <h6>Money Back Guarantee</h6>
                    <p>If good have Problems</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-support"></i>
                    <h6>Online Support 24/7</h6>
                    <p>Dedicated support</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-headphones"></i>
                    <h6>Payment Secure</h6>
                    <p>100% secure payment</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->
<!-- <div id="countdown">
    <div class="countdown__item">
        <span id="days">0</span>
        <p>Days</p>
    </div>
    <div class="countdown__item">
        <span id="hours">0</span>
        <p>Hours</p>
    </div>
    <div class="countdown__item">
        <span id="minutes">0</span>
        <p>Minutes</p>
    </div>
    <div class="countdown__item">
        <span id="seconds">0</span>
        <p>Seconds</p>
    </div>
</div> -->


<!-- <script>
    function updateCountdown() {
    const now = new Date();
    const targetDate = new Date("2023-10-31T23:59:59");  // Set your target date and time here

    const timeDifference = targetDate - now;

    const days = Math.floor(timeDifference / (1000 * 60 * 60 * 24));
    const hours = Math.floor((timeDifference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    const minutes = Math.floor((timeDifference % (1000 * 60 * 60)) / (1000 * 60));
    const seconds = Math.floor((timeDifference % (1000 * 60)) / 1000);

    document.getElementById('days').innerText = days;
    document.getElementById('hours').innerText = hours;
    document.getElementById('minutes').innerText = minutes;
    document.getElementById('seconds').innerText = seconds;
}

// Update the countdown every second
setInterval(updateCountdown, 1000);

// Initial call to set the initial countdown
updateCountdown();

</script> -->

<%- include('./include/footer') %>
