<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shorcket icon" type="x-icon" href="/img/logo2.png">
    <title>GO shop</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"rel="stylesheet">


    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/home/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/home/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/home/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/home/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/home/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/home/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/home/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/home/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <ul style="margin-top: 30px; margin-left: -10px;" class="offcanvas__widget">
            <li><span class="fas fa-search-plus"></span></li>
            <!-- <li><a href="#"><span class="fas fa-heart"></span>
                    <div class="tip">2</div>
                </a></li> -->
            <li><a href="#"><span class="fas fa-shopping-cart"></span>
                    <div class="tip"><%= numberOfItems %></div>
                </a></li>
        </ul>

        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
            <% if (user || googleuser) { %>
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <img style="height: 30px; margin-right: 20px;" src="/img/icons8-male-user-50.png" alt="">
                        <%= username || googleuser %>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!-- <button class="dropdown-item" type="button"><a href="/user/login">Login</a></button>
                        <button class="dropdown-item" type="button"><a href="/user/register">Register</a></button> -->
                        <button class="dropdown-item" type="button"><a href="/user/logout">Logout</a></button>
                    </div>
                </div>
                <% }else{ %>
                    <a href="/user/login">Login</a>
                    <a href="/user/register">Register</a>
                    <% } %>

        </div>
        <div style="margin-top: 50%;" class="offcanvas__logo">
            <img src="img/logo2.png" style="height: 110px;" alt="">
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <link rel="stylesheet" href="/css/home/quantityincdec.css">
    <!-- Header Section Begin -->
    <header class="header">
       <div class="container-fluid">
           <div class="row">
               <div class="col-xl-3 col-lg-2">
                <div class="">
                    <a href="/"><img style="height: 110px;" src="/img/logo2.png" alt="">
                </div>
               </div>
               <div class="col-xl-6 col-lg-7">
                   <nav style="text-align: center;" class="header__menu">
                       <ul>
                           <li><a href="/">Home</a></li>
                           <!-- <li><a href="#">Women’s</a></li>
                           <li><a href="#">Men’s</a></li> -->
                           <li class="active"><a href="/home/shop">Shop</a></li>
                           <!-- <li><a href="#">Pages</a>
                               <ul class="dropdown">
                                   <li><a href="">Product Details</a></li>
                                   <li><a href="">Shop Cart</a></li>
                                   <li><a href="">Checkout</a></li>
                               </ul>
                           </li> -->
                           <!-- <li><a href="">Contact</a></li> -->
                       </ul>
                   </nav>
               </div>
               <div class="col-lg-3">
                   <div class="header__right">
                       <div class="header__right__auth">
                           <% if (user || googleuser) { %>
                               <div style="margin-left: -500px;" class="btn-group">
                                   <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                       <img style="height: 30px; margin-right: 20px;" src="/img/icons8-male-user-50.png" alt="">
                                       
                                       <i style="font-size-adjust: inherit;"><%= username || googleuser %></i>
                                   </button>
                                   <div class="dropdown-menu dropdown-menu-right">
                                    <button class="dropdown-item" type="button"><a href="/home/profile">Profile</a></button>
                                     <button class="dropdown-item" type="button"><a href="/user/logout">Logout</a></button>
                                   </div>
                                 </div>
   
                   
                                   
                           <% } else { %>
                               <a href="/user/login">Login</a>
                               <a href="/user/register">Register</a>
                           <% } %>
                           
                           <!-- <a href="/user/login">Login</a>
                           <a href="/user/register">Register</a> -->
                       </div>
                       <% if (user || googleuser) { %>
                       <ul class="header__right__widget">
                           <li><span class="fas fa-search"></span></li>
                           <!-- <li><a href="#"><span class="fas fa-heart"></span>
                               <div class="tip">0</div>
                           </a></li> -->
                           <li><a href="/home/cart"><span class="fas fa-shopping-cart"></span>
                               <div class="tip"><%= numberOfItems %></div>
                           </a></li>
                       </ul>
                       <% } else { %>
                           <ul class="header__right__widget">
                               <li><span class="fas fa-search"></span></li>
                               <!-- <li><a href="/user/login"><span class="fas fa-heart"></span>
                                   <div class="tip">0</div>
                               </a></li> -->
                               <li><a href="/user/login"><span class="fas fa-shopping-cart"></span>
                                   <div class="tip">0</div>
                               </a></li>
                           </ul>
                       <% } %>
                   </div>
               </div>
           </div>
           <div class="canvas__open">
               <i class="fa fa-bars"></i>
           </div>
       </div>
   </header>
   <!-- Header Section End -->

    <!-- Breadcrumb Begin -->
    <!-- <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Breadcrumb End -->

    <style>
        body {
  font-family: 'Roboto', Arial, sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 31.25rem;
  margin: 6rem auto;
}

.label {
  font-size: .625rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: +1.3px;
  margin-bottom: 1rem;
}

.searchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#searchQueryInput {
  width: 100%;
  height: 2.8rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}
    </style>
    
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <form action="/home/searchproduct" method="post">
        <div style="margin-top: 15px;" class="wrapper">
            <div class="searchBar">
              <input id="searchQueryInput" type="text" name="search" placeholder="Search" />
              <button id="searchQuerySubmit" type="submit" name="searchQuerySubmit">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24"><path fill="#666666" d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" />
                </svg>
              </button>
            </div>
          </div>
    </form>

    <!-- Shop Section Begin -->
    <section style="margin-top: -130px;" class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="shop__sidebar">
                        <div class="sidebar__categories">
                            <div class="sidebar__filter">
                                <div class="section-title">
                                    <h4>Shop by price</h4>
                                </div>
                                <div class="filter-range-wrap">
                                    <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                    data-min="200" data-max="2000"></div>
                                    <div class="range-slider">
                                        <div style="margin-left: -10px;" class="price-input">
                                            <p>Price:</p>
                                            <input type="text" id="minamount">
                                            <input type="text" id="maxamount">
                                        </div>
                                    </div>
                                </div>
                                <!-- <form method="post" action="/home/filterprice"> -->
                                    <input hidden id="minamountValue" name="minamountValue" type="number" value="">
                                    <input hidden id="maxamount" name="maxamount" type="number" value="">
                                    <a id="fbutton" type="submit">Filter</a>
                                <!-- </form> -->
                            </div>
                            <div class="section-title">
                                <h4>Categories</h4>
                            </div>
                            <div class="categories__accordion">
                                <div class="accordion" id="accordionExample">
                                    <div class="card">
                                        <div class="">
                                            <a style="color: black;" href="/home/shop">All</a>
                                            <!-- <a data-toggle="collapse" data-target="#collapseOne">Women</a> -->
                                        </div>
                                    </div>
                                    <% category.forEach((row,index)=>{ %>
                                    <div class="card">
                                        <div class="">
                                            <a style="color: black;" href="/home/category/<%= row.category %>"><%= row.category %></a>
                                            <!-- <a data-toggle="collapse" data-target="#collapseOne">Women</a> -->
                                        </div>
                                    </div>
                                    <% }) %>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="sidebar__filter">
                            <div class="section-title">
                                <h4>Shop by price</h4>
                            </div>
                            <div class="filter-range-wrap">
                                <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                data-min="33" data-max="99"></div>
                                <div class="range-slider">
                                    <div class="price-input">
                                        <p>Price:</p>
                                        <input type="text" id="minamount">
                                        <input type="text" id="maxamount">
                                    </div>
                                </div>
                            </div>
                            <a href="#">Filter</a>
                        </div> -->
                        <!-- <div class="sidebar__sizes">
                            <div class="section-title">
                                <h4>Shop by size</h4>
                            </div>
                            <div class="size__list">
                                <label for="xxs">
                                    xxs
                                    <input type="checkbox" id="xxs">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="xs">
                                    xs
                                    <input type="checkbox" id="xs">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="xss">
                                    xs-s
                                    <input type="checkbox" id="xss">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="s">
                                    s
                                    <input type="checkbox" id="s">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="m">
                                    m
                                    <input type="checkbox" id="m">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="ml">
                                    m-l
                                    <input type="checkbox" id="ml">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="l">
                                    l
                                    <input type="checkbox" id="l">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="xl">
                                    xl
                                    <input type="checkbox" id="xl">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div> -->
                        <!-- <div class="sidebar__color">
                            <div class="section-title">
                                <h4>Shop by size</h4>
                            </div>
                            <div class="size__list color__list">
                                <label for="black">
                                    Blacks
                                    <input type="checkbox" id="black">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="whites">
                                    Whites
                                    <input type="checkbox" id="whites">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="reds">
                                    Reds
                                    <input type="checkbox" id="reds">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="greys">
                                    Greys
                                    <input type="checkbox" id="greys">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="blues">
                                    Blues
                                    <input type="checkbox" id="blues">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="beige">
                                    Beige Tones
                                    <input type="checkbox" id="beige">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="greens">
                                    Greens
                                    <input type="checkbox" id="greens">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="yellows">
                                    Yellows
                                    <input type="checkbox" id="yellows">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div style="text-align: end;" class="col-lg-9 col-md-9">
                    <div style="margin-top: -50px; margin-bottom: 50px;" class="container">
                        <div class="btn-group sort-btn">
                            <button class="btn btn-primary" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort</button>
                            <button class="btn btn-primary dropdown-toggle" data-sort="none"><i class="fa fa-sort"></i></button><!-- .dropdown-toggle adds rounded borders and reduces padding. It does not trigger dropdowns. -->
                            <ul style="text-align: center;" class="dropdown-menu">
                                <li tabindex="-1">Price,</li>
                                <li><a type="button" id="highbtn" tabindex="-1">High</a></li>
                                <li><a type="button" id="mibtn" tabindex="-1">Low</a></li>
                            </ul>
                        </div>
                    </div>
                    <div id="product-container" class="row">
                            <% product.forEach((row,index)=>{ %>
                                <div  class="col-lg-4 col-md-6 ">
                                    <div class="product__item">
                                        <div class="product__item__pic set-bg" data-setbg="/img/<%= row.images[0] %>">
                                            <!-- <div class="label new">New</div> -->
                                            <ul class="product__hover">
                                                <li><a href="/img/<%= row.images[0] %>" class="image-popup"><span class="fas fa-search-plus"></span></a></li>
                                                <li><a href="#"><span class="fas fa-heart"></span></a></li>
                                                <li><a href="/home/addcart/<%= row._id %>"><span class="fas fa-shopping-cart"></span></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__item__text">
                                            <h6><a href="/home/productview/<%= row._id %>"><%= row.productname %></a></h6>
                                            <div class="product__price">&#x20B9;<%= row.price %></div>
                                        </div>
                                    </div>
                                </div>
                             <% }) %>

                      
                        <div class="col-lg-12 text-center">
                            <nav aria-label="...">
                                <ul class="pagination pagination-lg">
                                  <ul class="pagination">
                                    <% if(shop=='shop') { %>
                                    <% if(pages) { %>
                                      <% const totalPages = Math.ceil(pages); %>
                                      <% const maxPagesToShow = 5; %>
                                      <% const startPage = Math.max(0, pagenum - Math.floor(maxPagesToShow / 2)); %>
                                      <% const endPage = Math.min(totalPages - 1, startPage + maxPagesToShow - 1); %>
                                  
                                        <% if (startPage > 0) { %>
                                            <li class="page-item">
                                              <a class="page-link" href="/home/paginationshop?page=<%= startPage - 1 %>" tabindex="-1">Previous</a>
                                            </li>
                                          <% } %>
                                      
                                          <% for(let i = startPage; i <= endPage; i++) { %>
                                            <% if (pagenum === i) { %> 
                                              <li class="page-item active">
                                                <a class="page-link" href="/home/paginationshop?page=<%= i %>" tabindex="-1"><%= i + 1 %></a>
                                              </li>
                                            <% } else { %> 
                                              <li class="page-item">
                                                <a class="page-link" href="/home/paginationshop?page=<%= i %>" tabindex="-1"><%= i + 1 %></a>
                                              </li>
                                            <% } %>
                                          <% } %>
                                      
                                          <% if (endPage < totalPages - 1) { %>
                                            <li class="page-item">
                                              <a class="page-link" href="/home/paginationshop?page=<%= endPage + 1 %>" tabindex="-1">Next</a>
                                            </li>
                                          <% } %>
                                        <% } %>
                                    <% } %>
                                  </ul>
                                  
                                </ul>
                              </nav>
                            <!-- <div class="pagination__option">
                                <a href="#" id="prevPage"><i class="fa fa-angle-left"></i></a>
                                <a href="#" class="pageLink">1</a>
                                <a href="#" class="pageLink">2</a>
                                <a href="#" id="nextPage"><i class="fa fa-angle-right"></i></a>
                            </div> -->
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->


    <script>
        // const productcontainer = document.getElementById('productcontainer')
        // const productContainer = document.getElementById('product-container');

        document.getElementById('highbtn').addEventListener('click', () => {
            console.log('running');

            const minamountValue = $("#minamount").val();
            const maxamountValue = $("#maxamount").val();

            console.log('minamount value:', minamountValue);
            console.log('maxamount value:', maxamountValue);

            const sort = '1'

            window.location.href=`/home/sortedprice/${sort}`

        })

        document.getElementById('mibtn').addEventListener('click', () => {
            console.log('running');

            const minamountValue = $("#minamount").val();
            const maxamountValue = $("#maxamount").val();

            console.log('minamount value:', minamountValue);
            console.log('maxamount value:', maxamountValue);

            const sort = '-1'

            window.location.href=`/home/sortedprice/${sort}`

        })

        document.getElementById('fbutton').addEventListener('click', () => {
            console.log('running');

            const minamountValue = $("#minamount").val();
            const maxamountValue = $("#maxamount").val();

            console.log('minamount value:', minamountValue);
            console.log('maxamount value:', maxamountValue);

            const sort = '3'

            window.location.href=`/home/viewfilerproduct/${minamountValue}/${maxamountValue}/${sort}`
        //     const url = 'http://localhost:3000/home/filterprice'

        //     fetch(url,{
        //         method:'POST',
        //         headers:{
        //             'Content-Type' : 'application/json'
        //         },
        //         body:JSON.stringify({minamountValue,maxamountValue})
        //     })
        //     .then(response => response.json())
        //     .then(data =>{
        //             const minamountValue = data.minamountValue
        //         const maxamountValue = data.maxamountValue
        //     //     const productContainers = document.querySelector('#product-container');

        //     //     // productContainers.forEach(container => {
        //     //         productContainers.innerHTML = '';  // Clear old data
        //     //     // });


        //     //     function loadStylesheet(href) {
        //     //         return new Promise((resolve, reject) => {
        //     //             const link = document.createElement('link');
        //     //             link.rel = 'stylesheet';
        //     //             link.href = href;
        //     //             link.onload = resolve;
        //     //             link.onerror = reject;
        //     //             document.head.appendChild(link);
        //     //         });
        //     //     }


        //     //     function loadAndAppendScript(src, callback) {
        //     //         const script = document.createElement('script');
        //     //         script.src = src;
        //     //         script.onload = callback;
        //     //         document.body.appendChild(script);
        //     //     }


        //     //     function loadAndAppendScript(src, callback) {
        //     //         const script = document.createElement('script');
        //     //         script.src = src;

        //     //         // Set a callback function to execute when the script is loaded
        //     //         script.onload = callback;

        //     //         // Append the script to the document's body
        //     //         document.body.appendChild(script);
        //     //     }
                


        //     //     function card(item){
        //     //         const productToAdd = document.createElement('div');
        //     //         productToAdd.classList.add('col-lg-4', 'col-md-6', 'product-container');
        //     //         productToAdd.innerHTML =  `
                   
                  
        //     //         <div class="product__item__pic set-bg" data-setbg="/img/${item.images[0]} ">
        //     //                         <!-- <div class="label new">New</div> -->
        //     //                         <ul class="product__hover">
        //     //                             <li><a href="/img/${item.images[0]}" class="image-popup"><span class="fas fa-search-plus"></span></a></li>
        //     //                             <li><a href="#"><span class="fas fa-heart"></span></a></li>
        //     //                             <li><a href="/home/addcart/${item._id}"><span class="fas fa-shopping-cart"></span></a></li>
        //     //                         </ul>
        //     //                     </div>
        //     //                     <div class="product__item__text">
        //     //                         <h6><a href="/home/productview/${item._id}">${item.productname}</a></h6>
        //     //                         <div class="product__price">&#x20B9;${item.price}</div>
        //     //                     </div>
        //     //         `

        //     //         const jqueryScriptUrl = "/js/home/jquery-3.3.1.min.js";

        //     //         loadAndAppendScript(jqueryScriptUrl, () => {
        //     //             console.log("jQuery script has been loaded successfully.");
        //     //         });

        //     //         loadAndAppendScript('/js/home/main.js', () => {
        //     //             // Code to run after the script is loaded
        //     //             console.log('Script has been loaded and executed.');
        //     //         });

        //     //         const styleUrl = "/css/home/style.css";

        //     //         loadStylesheet(styleUrl)
        //     //         .then(() => {
        //     //             console.log("style.css has been loaded successfully.");
        //     //         })
        //     //         .catch((error) => {
        //     //             console.error("An error occurred while loading style.css:", error);
        //     //         });
                    

        //     //         console.log(productToAdd)
        //     //         productContainers.appendChild(productToAdd);                    

        //     //     }

        //     //     data.filteredproduct.forEach(row => {
        //     //         card(row)

        //     //     });

                    
            
        //     // });
        //  });
        })
    </script>

    <%- include('./include/footer') %>
